*{
    list-style: none;
    text-decoration: none;
}
html{
background-color: #FFEB1C /* #f1a689 */;
}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-wrapper{
    display: flex;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
    width: 59.6%;
    padding-bottom: 20px;

}

.header-main{
font-family: Silkscreen;
font-size: 50px;
padding-top: 40px;
margin: 2px;

}


.header-list{
    display: flex;
    gap: 20px;
    margin-right: 370px;
}

.header-list-item{
    padding-top: 67px;
    font-family: Arvo;
    font-weight: 600;
    font-size: 12px;
}

.header-para{
    font-family: Arvo;
    font-weight: 600;
    padding-top: 67px;
    font-size: 12px;

}

.header-img{
    width: 10px;
    margin-top: 66px;
    margin-left: 7px;
}

.landing-main{
    font-family: Arvo;
    font-size: 30px;
margin-left: 280px;
margin-top: 70px;
line-height: 140%;
}

.landing-para{
    font-family: Arvo;
    font-weight: 200;
    margin-left: 280px;
    width: 600px;
    line-height: 150%;
}

.mark1{
    background-color:  #77f3e0;
    padding: 2px;
}

a{
    color: black;
}

.dev{
    background-color: #f1a689;
}

.about-wrapper1{
    display: flex;
}

.about-wrapper2{
    display: flex;
}

.about-wrapper3{
    display: flex;
}

.button-wrapper{
    margin-left: 280px;
    margin-top: 113px /* 84px */;
    display: flex;
    gap: 30px;
}

.btn-1{
    height: 40px;
        background-color: #FFEB1C;
        color: black;
        font-family: Arvo;
        font-size: 12px;
        font-weight: bold;
        border: 3px solid black;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        position: relative;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
}

.btn-1:hover{
}

.wrapper{
   display: flex;
}

.cup{
    width: 180px;
    margin-left: 260px;
    margin-top: px;
}

.group2{
    margin-left: 10px;
    width: 15px;
}

    